# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pearspective
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Chaves de API (se necessário)
# UDEMY_API_KEY=sua_chave_api_udemy

# Configurações de Segurança
# JWT_SECRET=seu_jwt_secret_aqui
# SESSION_SECRET=seu_session_secret_aqui 